@page "/"
@using Fluxor
@inject IState<AppState> AppState

<PageTitle>Home</PageTitle>

<MudStack Spacing="12">

    <div style="width: 400px" class="mx-auto">
        <MudStack>
            <MudTextField T="string"
                          @bind-Value="_input"
                          AutoGrow="true"
                          Lines="3"
                          MaxLines="10"
                          Immediate="true"
                          OnKeyUp="HandleKeyUp"
                          AutoFocus="true"
                          Variant="Variant.Outlined"
                          TextUpdateSuppression="false"
                          Label="Suchen oder Erstellen"
                          Class="app-outlined-border-primary"/>
            <MudStack Row>
                <MudButton Color="Color.Primary"
                           Variant="Variant.Outlined"
                           StartIcon="@Icons.Material.Filled.Search"
                           FullWidth>
                    Suchen
                </MudButton>
                <MudButton Color="Color.Primary"
                           Variant="Variant.Filled"
                           StartIcon="@Icons.Material.Filled.Add"
                           FullWidth
                           OnClick="HandleCreate">
                    Erstellen
                </MudButton>
            </MudStack>
        </MudStack>
    </div>

    <MudExpansionPanels MultiExpansion="true">
        <MudExpansionPanel Text="Suchergebnisse"
                           Style="background-color: var(--mud-palette-appbar-background)"
                           Expanded="true">
            <MudAlert Severity="Severity.Info" Variant="Variant.Outlined" Class="d-inline-block">Keine Notizen gefunden</MudAlert>
        </MudExpansionPanel>
        <MudExpansionPanel Text="Zuletzt erstellt"
                           Style="background-color: var(--mud-palette-appbar-background)"
                           Expanded="true">

            <NoteCardList Notes="AppState.Value.Notes" />
            
        </MudExpansionPanel>
    </MudExpansionPanels>

</MudStack>

<NoteEditingDialog Note="AppState.Value.CurrentlyEditingNote"/>

@code {

    string _input = "";

    private void HandleCreate()
    {
        Dispatch(new NoteActions.CreateNoteRequestAction(_input));
        _input = "";
    }

    private void HandleKeyUp(KeyboardEventArgs args)
    {
        if (args.CtrlKey && args.Key == "Enter")
        {
            HandleCreate();
        }
    }

}