@page "/"
@inject IState<AppState> AppState

<PageTitle>Home</PageTitle>

<MudStack Spacing="6">

    <div style="width: 400px" class="mx-auto">
        <MudStack>
            <MudTextField T="string"
                          @bind-Value="_input"
                          AutoGrow="true"
                          Lines="3"
                          MaxLines="10"
                          Immediate="true"
                          OnKeyUp="HandleKeyUp"
                          AutoFocus="true"
                          Variant="Variant.Outlined"
                          TextUpdateSuppression="false"
                          Label="Suchen oder Erstellen"
                          Class="app-outlined-border-primary"/>
            <MudStack Row>
                <MudButton Color="Color.Primary"
                           Variant="Variant.Outlined"
                           StartIcon="@Icons.Material.Filled.Search"
                           FullWidth>
                    Suchen
                </MudButton>
                <MudButton Color="Color.Primary"
                           Variant="Variant.Filled"
                           StartIcon="@Icons.Material.Filled.Add"
                           FullWidth
                           OnClick="HandleCreate">
                    Erstellen
                </MudButton>
            </MudStack>
        </MudStack>
    </div>

    <NoteCardList Headline="Suchergebnisse" Notes="[]" NoNotesText="noch nicht implementiert"/>
    <NoteCardList Headline="Zuletzt erstellt" Notes="AppState.Value.GetHomePageNotes()"/>

</MudStack>

@code {

    string _input = "";

    private void HandleCreate()
    {
        Dispatch(new NoteActions.CreateNoteRequestAction(_input));
        _input = "";
    }

    private void HandleKeyUp(KeyboardEventArgs args)
    {
        if (args.CtrlKey && args.Key == "Enter")
        {
            HandleCreate();
        }
    }

}