<div style="position: fixed; right: 0; bottom: 0;" class="mr-6 mb-6">
    <MudTooltip Text="Create new [accesskey + N]"
                Placement="Placement.Left"
                Arrow="true"
                Delay="500">
        <MudFab Color="Color.Primary"
                StartIcon="@Icons.Material.Filled.Add"
                OnClick="HandleAdd"
                accesskey="N"/>
    </MudTooltip>
</div>

@code {

    private void HandleAdd()
    {
        Dispatch(new NoteActions.ShowCreateNoteDialogAction());
    }

}