<MudCard Elevation="3" @ondblclick="HandleDblClick">
    <MudCardContent Style="width: 300px; min-height: 100px;">
        <p style="white-space: pre-line" class="pb-0">
            @Note.Text
        </p>
    </MudCardContent>
    <MudCardActions>
        <MudSpacer/>
        @if (Note.IsArchived)
        {
            <MudIconButton Icon="@Icons.Material.Filled.Archive"
                           Color="Color.Primary"
                           OnClick="HandleRestore"/>
        }
        else
        {
            <MudIconButton Icon="@Icons.Material.Outlined.Archive"
                           OnClick="HandleArchive"/>
        }
        <MudIconButton Icon="@Icons.Material.Outlined.Edit"
                       OnClick="HandleClick"/>
    </MudCardActions>
</MudCard>

@code {
    [Parameter] [EditorRequired] public required Note Note { get; set; }

    private void HandleClick()
    {
        Dispatch(new NoteActions.StartNoteEditingAction(Note));
    }

    private void HandleArchive()
    {
        Dispatch(new NoteActions.ArchiveNoteAction(Note.Id));
    }

    private void HandleRestore()
    {
        Dispatch(new NoteActions.RestoreNoteAction(Note.Id));
    }

    private void HandleDblClick()
    {
        HandleClick();
    }

}