@page "/"
@using BlazingNotes.Logic.Services
@inject IState<AppState> AppState

<BzPageTitle>Home</BzPageTitle>

<MudStack Spacing="6">

    <div class="mx-auto note-card-text-width">
        <MudStack>
            <MudTextField T="string"
                          @bind-Value="_input"
                          AutoGrow="true"
                          Lines="3"
                          MaxLines="10"
                          Immediate="true"
                          OnKeyUp="HandleKeyUp"
                          AutoFocus="true"
                          Variant="Variant.Outlined"
                          TextUpdateSuppression="false"
                          Label="Suchen oder Erstellen"
                          Class="home-page-main-input"
                          Placeholder="Hier kannst du nach bestehenden Notizen suchen und gleichzeitig neue Notizen erstellen"/>
            <MudButton Color="Color.Primary"
                       Variant="Variant.Filled"
                       StartIcon="@Icons.Material.Filled.Add"
                       FullWidth
                       Disabled="!_input.HasContent()"
                       OnClick="HandleCreate">
                Create new note
            </MudButton>
        </MudStack>
    </div>

    @{
        if (NoteSearcher.IsSearchTermLongEnough(_input))
        {
            var searchable = AppState.Value.GetSearchableNotes().OrderByDescending(x => x.CreatedAt).ToList();
            var (_, query, matches) = NoteSearcher.Search(searchable, _input);
            var matchesTake = matches.Take(10).ToList();
            // ShowNoteCount=false because we show only 10 preview items
            <NoteCardList Headline="Suchergebnisse"
                          Notes="matchesTake"
                          SearchQuery="@query"
                          ShowNoteCount="false">
                <AfterLastCardContent>
                    @if (matches.Count > matchesTake.Count)
                    {
                        var href = SearchPage.GetUrl(_input);
                        <MudButton Href="@href"
                                   Variant="Variant.Outlined"
                                   EndIcon="@Icons.Material.Filled.ArrowForward"
                                   Class="note-card-text-width">
                            Continue search
                        </MudButton>
                    }
                </AfterLastCardContent>
            </NoteCardList>
        }
        else
        {
            @* ShowNoteCount=false because we show only 10 preview items *@
            <NoteCardList Headline="Zuletzt erstellt"
                          Notes="AppState.Value.GetHomePageNotes()"
                          ShowNoteCount="false"/>
        }
    }

</MudStack>

@code {

    string _input = "";

    private void HandleCreate()
    {
        Dispatch(new NoteActions.CreateNoteRequestAction(_input));
        _input = "";
    }

    private void HandleKeyUp(KeyboardEventArgs args)
    {
        if (args.CtrlKey && args.Key == "Enter")
        {
            HandleCreate();
        }
    }

}