@page "/info"
@using BlazingNotes.Logic.Services
@inject INoteStore NoteStore
@inject IState<AppState> AppState

<BzPageTitle>Info</BzPageTitle>

<MudStack Spacing="6">
    <MudText Typo="Typo.h4" Color="Color.Primary">Info</MudText>

    <MudCard Class="bg-appbar">
        <MudCardContent>
            BlazingNotes is developed by David Ritter (<a href="https://github.com/the-blazing-dev" target="_blank">the-blazing-dev</a>).
            <br/>
            It is fully open-source, check it out at
            <a href="https://github.com/the-blazing-dev/BlazingNotes"
               target="_blank">
                GitHub
            </a>.
        </MudCardContent>
    </MudCard>

    <MudCard Class="bg-appbar">
        <MudCardHeader Style="font-size: 1.5em">
            Hints
        </MudCardHeader>
        <MudCardContent Class="pt-0">
            <p>
                Use
                <bz-tag>#blur</bz-tag>
                to create blurred notes so that people behind you or
                watching your screen sharing don't immediately see notes.
            </p>
            <p>
                Use
                <bz-tag>#md</bz-tag>
                or
                <bz-tag>#markdown</bz-tag>
                to enable markdown formatting in your notes.
            </p>
            <p>
                Use
                <bz-tag>#wide</bz-tag>
                to create a card that has double the width of a normal card.
            </p>
        </MudCardContent>
    </MudCard>

    <MudCard Class="bg-appbar">
        <MudCardContent>
            Note store: <b>@NoteStore.GetName()</b> <br/>
            @NoteStore.GetDescription() <br/>
            <br/>
            Total note count: <b>@AppState.Value.Notes.Count.ToString("N0")</b> <br/>
            <br/>
            <MudButton Variant="Variant.Outlined" Color="Color.Info" OnClick="HandleExport">Export notes</MudButton>
        </MudCardContent>
    </MudCard>
</MudStack>

@code {

    private void HandleExport()
    {
        Dispatch(new NoteActions.ExportNotesAction());
    }

}