@page "/"
@using Fluxor
@inject IState<AppState> AppState

<PageTitle>Home</PageTitle>

<MudStack Spacing="12">

    <div style="width: 400px" class="mx-auto pt-6">
        <MudStack>
            <MudTextField T="string"
                          @bind-Value="_input"
                          AutoGrow="true"
                          Lines="3"
                          MaxLines="10"
                          Variant="Variant.Outlined"
                          Label="Suchen oder Erstellen"/>
            <MudStack Row>
                <MudButton Color="Color.Success"
                           Variant="Variant.Outlined"
                           StartIcon="@Icons.Material.Filled.Search"
                           FullWidth>
                    Suchen
                </MudButton>
                <MudButton Color="Color.Success"
                           Variant="Variant.Filled"
                           StartIcon="@Icons.Material.Filled.Add"
                           FullWidth
                           OnClick="HandleCreate">
                    Erstellen
                </MudButton>
            </MudStack>
        </MudStack>
    </div>

    <MudExpansionPanels MultiExpansion="true">
        <MudExpansionPanel Text="Suchergebnisse"
                           Expanded="true">
            <MudAlert Severity="Severity.Info" Variant="Variant.Outlined" Class="d-inline-block">Keine Notizen gefunden</MudAlert>
        </MudExpansionPanel>
        <MudExpansionPanel Text="Zuletzt erstellt"
                           Expanded="true">
            <MudStack Row Wrap="Wrap.Wrap" Spacing="6">
                @foreach (var item in AppState.Value.Notes)
                {
                    <MudCard Elevation="3">
                        <MudCardContent Style="min-width: 300px; min-height: 150px;">
                            <p>@item.Text</p>
                        </MudCardContent>
                    </MudCard>
                }
                @if (AppState.Value.Notes.HasContent() == false)
                {
                    <MudAlert Severity="Severity.Info" Variant="Variant.Outlined" Class="d-inline-block">
                        Noch keine Notizen angelegt
                    </MudAlert>
                }
            </MudStack>
        </MudExpansionPanel>
    </MudExpansionPanels>
</MudStack>

@code {

    string _input = "meine erste Notiz\n#cool #yeah";

    private void HandleCreate()
    {
        Dispatch(new NoteActions.CreateNoteAction(_input));
        _input = "";
    }

}